<div class="bg-caramelo">
  <div class="container-fluid">
    <header class="d-flex justify-content-between align-items-center flex-wrap py-3 position-relative">
      <div class="popover-menu" *ngIf="menuAberto">
        <a class="d-block text-white py-2" routerLink="/carrinho">Carrinho</a>
        <a class="d-block text-white py-2" routerLink="/login">Login</a>
        <form class="d-flex flex-column gap-2 my-3 w-100" role="search" (submit)="buscarMobile($event)">
          <input 
          class="form-control me-2" 
          type="search" 
          placeholder="Buscar Produto..." 
          [(ngModel)]="termoBuscaMobile"
          name="buscaMobile"
          aria-label="Search">
          <button class="btn btn-azul" type="submit">Buscar</button>
        </form>
      </div>
      <div class="d-flex align-items-center gap-3 middle">
        <div class="d-md-none">
          <button (click)="toggleMenu()" class="btn text-white fs-2 border-0" aria-label="Abrir menu">
            ☰
          </button>
        </div>

        <div class="d-flex align-items-center">
          <img src="https://ik.imagekit.io/liaMatsubara/Cafe%20Late/oficial.png?updatedAt=1744052006168" alt="" class="logo-navbar">
          <h4 class="d-inline-block align-text-top font-logo">Café Late</h4>
        </div>
      </div>

      <form class="d-flex align-items-center mx-md-4 my-3 my-md-0" role="search" id="busca-web" (submit)="buscarDesktop($event)">
        <input 
        class="form-control me-2" 
        type="search" 
        placeholder="Buscar Produto..." 
        [(ngModel)]="termoBusca"
        name="buscaDesktop"
        aria-label="Search">
        <button class="btn btn-azul" type="submit">Buscar</button>
      </form>

      <nav class="menu-mobile d-md-block d-none" id="menu-links">
        <ul class="nav flex-column flex-md-row">
          <li class="nav-item">
            <a routerLink="/carrinho" class="nav-link text-white">Carrinho</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link text-white">Login</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>