<app-top-bar title="Detalhes do Produto"></app-top-bar>

<div class="container mt-4">
    <div class="row align-items-start">
        <div class="col-12 col-md-6 text-center">
            <img src="https://ik.imagekit.io/liaMatsubara/Cafe%20Late/CerradoPastor-removebg-preview.png?updatedAt=1744080353145"
                alt="Café Cerrado Pastor" class="img-fluid">
        </div>

        <div class="col-12 col-md-6">
            <h2 class="box-titulo">Cerrado Pastor</h2>
            <h4 class="mb-3">R$ 52,00</h4>

            <div class="mb-3">
                <p class="mb-1"><strong>Origem:</strong> Cerrado Mineiro - MG</p>
                <p class="mb-1"><strong>Descrição:</strong> Notas de cacau</p>
                <p class="mb-1"><strong>Peso:</strong> 250g</p>
            </div>

            <div class="mb-3">
                <p class="mb-2"><strong>Perfil Sensorial</strong></p>
                <ul>
                    <li><strong>Variedade:</strong> Arábica</li>
                    <li><strong>Processo:</strong> Natural</li>
                    <li><strong>Altitude:</strong> 1.200m</li>
                    <li><strong>Torra:</strong> Média-escura</li>
                    <li><strong>Corpo:</strong> Alto</li>
                    <li><strong>Acidez:</strong> Média</li>
                    <li><strong>Doçura:</strong> Média</li>
                    <li><strong>Ideal para:</strong> Expresso</li>
                </ul>
            </div>

            <div class="text-end mb-4">
                <button class="btn btn-azul px-5">
                    Comprar
                </button>
            </div>
        </div>
    </div>
</div>