<div class="box-caramel">
  <div class="desktop-banner">
    <img class="img-banner" src="https://ik.imagekit.io/liaMatsubara/Cafe%20Late/banner2.png?updatedAt=1744299015350" alt="Banner café late">
  </div>
  <div class="mobile-banner">
    <img class="img-banner" src="https://ik.imagekit.io/liaMatsubara/Cafe%20Late/bannerMobile.png?updatedAt=1744299303997" alt="">
  </div>

</div>
<div class="green-bar">
  <h3 class="text-center my-4 text-white">Conheça nossos produtos Late</h3>
</div>
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let produto of produtos">
    <app-cartao-produto
      [id]="produto.id"
      [nome]="produto.nome"
      [preco]="produto.preco"
      [imagem]="produto.imagem">
    </app-cartao-produto>
  </div>
</div>
