* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-weight: bold;
    color: white;
    background-color: #648C85;
}

.row {
    justify-content: center;
}


app-cartao-produto {
    display: flex;
    justify-content: center;
}


@media (min-width: 768px) {
    .col-md-4 {
        display: flex;
        justify-content: center;
    }
}

.img-banner {
    width: 100%;
}

.green-bar {
    background-color: #648C85;
    padding: 1px;
    margin-bottom: 50px;
}

/* Oculta o banner mobile por padrão */
.mobile-banner {
    display: none;
}

/* Exibe o banner mobile em telas menores que 768px */
@media (max-width: 768px) {
    .desktop-banner {
        display: none;
    }

    .mobile-banner {
        display: block;
    }
}